/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: url('../img/zedd.jpg') center/cover no-repeat;
}
.keys{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  border: 4px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.07s;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.2);
}

.playing {
  transform:scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
